[submodule "Backbone.actAs.Paginatable"]
	path = Backbone.actAs.Paginatable
	url = https://github.com/iVariable/Backbone.actAs.Paginatable.git
[submodule "Backbone.actAs.Mementoable"]
	path = Backbone.actAs.Mementoable
	url = https://github.com/iVariable/Backbone.actAs.Mementoable.git
[submodule "Backbone.actAs.Locatable"]
	path = Backbone.actAs.Locatable
	url = https://github.com/iVariable/Backbone.actAs.Locatable.git
[submodule "Backbone.actAs.Configurable"]
	path = Backbone.actAs.Configurable
	url = https://github.com/iVariable/Backbone.actAs.Configurable.git
